[core]
    editor = vim
    excludefile = ~/.gitignore
    
[color]
    ui = always
    
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
    
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
    
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
    
[alias]
    s = status
    sb = status -s -b
    d = diff
    co = checkout
    b = branch

[push]
    default = simple
